/* 
    Document   : ferryplayer
    Created on : 21 May, 2013, 11:16:16 AM
    Author     : gowtham
    Description:
*/

root {
    display: block;
}

.ferryvideo{
    position: relative;
}

.ferryvideo #container{
    position: relative;
}

.ferryvideo #controls{
    position: absolute;
    display: none;
    bottom: 0px;
    width: inherit;
}

.ferryvideo #controls.visible{
    display:block;
}

.ferryvideo .info{
    position: absolute;
}

.ferryvideo #gauge{
    position: relative;
    height: 6px;
    background-color: black;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}

.ferryvideo #gauge .buffer{
    position: relative;
    height: 4px;
    top: 1px;
    left: 1px;
    width: 0px;
    background-color: #ccc;
    float: left;
}

.ferryvideo #gauge #slider{
    position: absolute;
    top: 1px;
    left: 1px;
    height: 4px;
    width: 2px;
    background-color: red;
}

.ferryvideo #gauge #markFace{
    position: absolute;
    display: none;
    height: 14px;
    background-color: blanchedalmond;
    top: -14px;
    font-size: 14px;
}
.ferryvideo #gauge #markFace.visible{
    display:block;
}

.ferryvideo #gauge .buffer .fill{
    position: relative;
    height: 3px;
    width: 0px;
    background-color: white;
}

.ferryvideo #controls #playbck {
    position: relative;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
}

.ferryvideo #controls #playbck .buttons {
    background-image: url('/Pictures/glyphicons-halflings.png');
    width: 24px;
    height: 12px;
    border: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: middle;
}

.ferryvideo #controls #playbck .buttons:hover{
    background-image: url('/Pictures/glyphicons-halflings_bright.png');
}

.ferryvideo #controls #playbck .buttons:focus {
    outline: none !important;
}

.ferryvideo #controls #playbck #playpause{
    background-position: -259px -74px;
}

.ferryvideo #controls #playbck #playpause.play{
    background-position: -283px -74px;
}

.ferryvideo #controls #playbck #playpause.pause{
    background-position: -259px -74px;
}

.ferryvideo #controls #playbck #rewind{
    background-position: -235px -74px;
}

.ferryvideo #controls #playbck #fastForward{
    background-position: -330px -74px;
}

.ferryvideo #controls #playbck #skipForward{
    background-position: -379px -74px;
}

.ferryvideo #controls #playbck #skipBackward{
    background-position: -186px -74px;
}

